
<app-nav-home></app-nav-home>
<header class="">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="header-left">
            <h1>Car System</h1>
            <h3>Courteously</h3>
            <p>Always obey traffic laws and speed limits. This is the most important rule of good drivin
               g. Speeding, ignoring traffic signals,
               and other violations can lead to accidents and serious injuries.</p>
            <a href="#" class="btn " (click)="start()" >get started</a>
            
          </div>
        </div>
        <div class="col-md-6 d-flex justify-content-end">
          <div class="header-right">
            <div class="box">
              <img src="../../../assets/ccarr-removebg-preview.png" alt="heavy vichle">
            </div>
  
          </div>
        </div>
        <div class="box2">
  
        </div>
      </div>
    </div>
  </header>
