.fw-bold ,.small ,.col-5 ,.col-6 {
    font-family: 'Righteous', sans-serif !important;
}
.bg{
    background-color:#d0e3ef !important ;
    
}
.comment {
    margin-top: 24.1rem !important;
    font-family: 'Righteous', sans-serif !important;

}
.number{
    color: #4B99CE !important;
}
p{
    color: rgb(79, 79, 79) !important;
}

.bg-light{
    background-color:#d0e3ef !important ;
}