<app-nav></app-nav>

<div class="container pt-5">
    <div class="row ms-5 ps-5" *ngFor="let superadmin of data">
        <div class="col-md-9">
            <div class="row pt-5 ">
                <div class="col-md-3 ">
                    <img src="../../../assets/WhatsApp Image 2023-12-04 at 01.06.38_8a45f47a.jpg"
                        class="w-75 d-flex rounded-circle img-thumbnail shadow " alt="">

                </div>
                <div class=" col-md-9  ">
                    <h5 class=" mt-5 fw-bold">{{superadmin.name}}</h5>
                    <p class=" small text-secondary">Super Admin</p>
                </div>

            </div>
        </div>

        <div class="row mt-4  ">
            <h6 class="fw-bold ">Personal Information</h6>
            <div class="col-md-12 ">
                <div class="row bg-light rounded ">
                    <div class="col-md-6 pt-3">
                        <div class="row">
                            <div class="col-5 ">
                                <p class="fw-bolder">Super Admin ID</p>
                            </div>
                            <div class="col-6">
                                <P class="number">{{superadmin.id}}</P>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5 ">
                                <p class="fw-bolder">Email</p>
                            </div>
                            <div class="col-6">
                                <P class="">{{superadmin.email}}</P>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5 ">
                                <p class="fw-bolder">Address</p>
                            </div>
                            <div class="col-6">
                                <P class="">{{superadmin.address}}</P>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6 pt-3">
                       
                        <div class="row">
                            <div class="col-5  ">
                                <p class="fw-bolder">Phone</p>
                            </div>
                            <div class="col-6">
                                <P class="number">{{superadmin.phone}}</P>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>



            <h6 class="fw-bold  mt-5 ">About Company</h6>
            <div class="col-md-12 ">
                <div class="row bg-light rounded">
                    <div class="col-md-6 pt-3">
                        <div class="row">
                            <div class="col-5 ">
                                <p class="fw-bolder">Company Name</p>
                            </div>
                            <div class="col-6">
                                <P class="">{{superadmin.myComp_Name}}</P>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5 ">
                                <p class="fw-bolder">Company ID</p>
                            </div>
                            <div class="col-6">
                                <P class="number">{{superadmin.myComp_id}}</P>
                            </div>
                        </div>
                      


                    </div>
                    <div class="col-md-6 pt-3">
                        <div class="row">
                            <div class="row">
                                <div class="col-5 ">
                                    <p class="fw-bolder">Company Location</p>
                                </div>
                                <div class="col-6">
                                    <P class="">{{superadmin.myComp_Location}}</P>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5 ">
                                    <p class="fw-bolder">Company Phone</p>
                                </div>
                                <div class="col-6">
                                    <P class="number">{{superadmin.myComp_Phone}}</P>
                                </div>
                            </div>


                    </div>
                </div>
            </div>



        </div>


    </div>
</div>