<app-nav></app-nav>
<div class="container pt-5">
    <div class="row">
        <div class="col-md-9" *ngFor="let driver of data" >
            <div class="row pt-5 ">
                <div class="col-md-3 ">
                    <img src="../../../assets/WhatsApp Image 2023-12-04 at 01.06.38_8a45f47a.jpg"
                        class="w-75 d-flex rounded-circle img-thumbnail shadow " alt="driver">

                </div>
                <div class=" col-md-9  ">
                    <h5 class=" mt-5 fw-bold">{{driver.name}}</h5>
                    <p class=" small ">Driver</p>
                </div>

            </div>

            <div class="row mt-4  ">
                <h6 class="fw-bold ">Personal Information</h6>
                <div class="col-md-12 ">
                    <div class="row bg-light rounded ">
                        <div class="col-md-6 pt-3">
                            <div class="row">
                                <div class="col-5 ">
                                    <p class="fw-bolder">Driver ID</p>
                                </div>
                                <div class="col-6">
                                    <P class="number">{{driver.id}}</P>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5 ">
                                    <p class="fw-bolder">Email</p>
                                </div>
                                <div class="col-6">
                                    <P class="">{{driver.email}}</P>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5 ">
                                    <p class="fw-bolder">Address</p>
                                </div>
                                <div class="col-6">
                                    <P class="">{{driver.address}}</P>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-6 pt-3">
                            <div class="row">
                                <div class="col-5 ">
                                    <p class="fw-bolder">Salary</p>
                                </div>
                                <div class="col-6">
                                    <P class="number">{{driver.salary}}<span class="text-opacity-50 text-black">EGP</span></P>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5 ">
                                    <p class="fw-bolder">Phone</p>
                                </div>
                                <div class="col-6">
                                    <P class="number">{{driver.phone}}</P>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5 ">
                                    <p class="fw-bolder">Helth State</p>
                                </div>
                                <div class="col-6">
                                    <P class="number">{{driver.health_statusd}}</P>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <h6 class="fw-bold  mt-3 ">Higher officials</h6>
                <div class="col-md-12 ">
                    <div class="row bg-light rounded">
                        <div class="col-md-6 pt-3">
                            <div class="row">
                                <div class="col-5 ">
                                    <p class="fw-bolder">Manager</p>
                                </div>
                                <div class="col-6">
                                    <P class="">MR/mahmoud kamel Amin</P>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5 ">
                                    <p class="fw-bolder">Manager ID</p>
                                </div>
                                <div class="col-6">
                                    <P class="number">{{driver.mgrID}}</P>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5 ">
                                    <p class="fw-bolder">Admin</p>
                                </div>
                                <div class="col-6">
                                    <P class="">MR/Ahmed mahmoud kamel</P>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5 ">
                                    <p class="fw-bolder">Admin ID</p>
                                </div>
                                <div class="col-6">
                                    <P class="number">{{driver.adminID}}</P>
                                </div>
                            </div>


                        </div>
                        <div class="col-md-6 pt-3">
                            <div class="row">
                                <div class="col-5 ">
                                    <p class="fw-bolder">Assistant</p>
                                </div>
                                <div class="col-6">
                                    <P class="">MRS/Nourhan Saied hany</P>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5 ">
                                    <p class="fw-bolder">Assistant ID</p>
                                </div>
                                <div class="col-6">
                                    <P class="number">{{driver. assID}}</P>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5 ">
                                    <p class="fw-bolder">Company</p>
                                </div>
                                <div class="col-6">
                                    <P class="">ELadl Group</P>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5 ">
                                    <p class="fw-bolder">Company ID</p>
                                </div>
                                <div class="col-6">
                                    <P class="number">{{driver.compID}}</P>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>


                <h6 class="fw-bold  mt-3 ">Licence</h6>
                <div class="col-md-12 ">
                    <div class="row bg-light rounded">
                        <div class="col-md-6 pt-3">
                            <div class="row">
                                <div class="col-5 ">
                                    <p class="fw-bolder">Licence ExpDate</p>
                                </div>
                                <div class="col-6">
                                    <P class="number">{{driver.licenseExpDate}}</P>
                                </div>
                            </div>



                        </div>
                        <div class="col-md-6 pt-3">
                            <div class="row">

                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 p-2  ">

            <a href="" class="traffic "><span>Violations</span><i></i></a>


            <h6 class="fw-bold  comment  ">Comments</h6>

            <div class="bg-light px-2 pt-1 rounded ">


                <p class="my-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus.<span
                        class="number small fw-bold ms-1">19/2/2020</span></p>
                <p class="mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus.<span
                        class="number small fw-bold ms-1">19/2/2020</span></p>
                <p class="py-2">...</p>
            </div>

        </div>
    </div>
</div>