
// .main
// {

//     font-family: 'Alegreya', serif;
//     font-family: 'Alegreya Sans', sans-serif;
//     font-family: 'Dancing Script', cursive;
//     font-family: 'Encode Sans Expanded', sans-serif;
//     font-family: 'Lato', sans-serif;
//     font-family: 'Play', sans-serif;
//     font-family: 'Roboto Slab', serif;
//     font-family: 'Shadows Into Light', cursive;


//     background-image: url(../../../assets/car.jpeg);
//     background-size:cover !important;
//     background-position: center;
//     width: 100%;
//     min-height: 100vh;
//     // background-color: aqua;

// }
// .layer{
//     position: relative;
//     z-index: 844;
//     width: 100%;
//     height: 100vh;
//     background-color: #051433c8;
// }
// input{
//     background-color: transparent !important;
//     border-bottom:  1px solid rgba(255, 255, 255, 0.717) !important;
// }
// ::placeholder{
//     color: white;
//     font-size: large;
//     opacity: .6;
// }
// input:focus{
//     color: white;
//     font-size: large;
//     border:  2px solid rgb(255, 255, 255) !important;
//     border-radius: 8px !important;
//     transition: all 1s ;

// }

// .forget,.sign-up{
//     text-decoration: none;
//     transition:  all .4s;
//     opacity: .5;

// }
// .forget:hover, .sign-up:hover{
//     text-decoration: underline !important;
//     opacity: 1 !important;
// }


// @import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Alegreya+Sans:wght@100;500&family=Dancing+Script:wght@700&family=Encode+Sans+Expanded:wght@300&family=Lato:wght@300&family=Play&family=Roboto+Slab&family=Shadows+Into+Light&display=swap');


.container
{
  // padding-top: 100px;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.35);
  position: relative;
  overflow: hidden;
  width: 770px;
  max-width: 100%;
  min-height: 480px;
}
.container p{
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.3px;
  margin: 20px 20px;
  // background-color: red;
}
.container span{
  font-size: 12px;
}
.container a{
  color:#333;
  font-size: 13px;
  text-decoration: none;
  margin: 15px 0px 10px;
}
.create{
  color:#4289BA;
}
.container button{
  background-color: #5EA2D3;
  color: #fff;
  font-size: 12px;
  padding: 10px 46px;
  border:1px solid transparent;
  border-radius: 8px;
  font-weight: 600px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 10px;
}
.container button.hidden{
  background-color: transparent;
  border-color: #fff;
}
.container form{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
  padding: 0px 40px;
  height: 100%;
}
.container input{
  background-color: #eee;
  border: none;
  margin: 8px 0;
  padding: 10px 15px;
  font-size: 13px;
  border-radius: 8px;
  width: 100%;
  outline: none;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat' ,sans-serif;
}
.main{
  background-color:#0514332f !important;
//   background-image: url(../../../assets/driver.png);
  min-height: 100vh;
  // background: linear-gradient(to rigith, #e2e2e2, #c9d6ff);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
}
.signword{
  color:#4289BA;
}
.form-container{
position: absolute;
top: 0;
height: 100%;
transition: all 0.6s ease-in-out;
}
.form-container h2
{
  color:#4289BA;
}

// ************************************************************************8 //
// .hero {
//   position: relative;
//   width: 100%;
//   height: 100vh;
//   background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
//   display: flex;
//   align-items: center;
//  justify-content: center;
// }

// .background-video {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   z-index: -1;
//   // background: #000;
//   background-size: cover;
//   background-position: center center;
// }

.sign-in{
  left: 0;
  width: 50%;
  z-index: 2;
}
.container.active .sign-in{
  transform: translateX(100%);
}
.sign-up{
  left: 0; //change
  width: 50%;
  opacity: 1;
  z-index: 1;
  // display: none;
}
.container.active .sign-up{
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: move 0.6;
}
@keyframes move {
  0%,
  49.99%{
    opacity: 0;
    z-index: 1;
  }
  50%,
  100%{
    opacity: 1;
    z-index: 5;
  }
}
// .social-icons{
//   margin: 20px 0;
// }
// .social-icons a{
//   border: 1px solid #ccc;
//   border-radius: 20%;
//   display: inline-flex;
//   justify-content: center;
//   align-items: center;
//   margin: 0px 3px;
//   width: 40px;
//   height: 40px;
// }
.toggle-container{
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height:100%;
  overflow: hidden;
  transition: all 0.6s ease-in-out;
  border-radius: 150px 0px 0px 100px;
  z-index: 1000;
}
// .container.active .toggle-container{
// transform: translateX(-100%);
// border-radius: 0 150px  100px 0;
// }
#login{
  background-color: #5ea2d3;
}
#signIn{
  background-color: #5ea2d3;
}
.toggle{
  background-color: #4289BA;
  height: 100%;
  background: linear-gradient(to rigith, #5c6bc0, #512da8);
  color:#fff;
  position: relative;
  left: -100px;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: all 0.6 ease-in-out;
}
// .container.active .toggle{
//   transform: translateX(50%);
//   // display: none;
// }
.toggle-panel{
  position: absolute;
  // width: 50%;
  height: 100%;
  display: flex;
  // left: 93px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  top: 0;
  left: 22px;
  transform: translateX(0);
  transition: all 0.6 ease-in-out;
  // display: none;
}
.toggle-left{
  transform: translateX(-200%);
}
// layer
// .layer{
//   background-color: rgba(0, 0, 0, 0.3) !important;
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100vh;
//   z-index: 1;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }
