.top-icon1{
    background-color: rgba(144, 222, 228, 0.726) !important;
    color:  rgb(25, 161, 171);
}
.top-icon2{
    background-color: rgba(227, 161, 161, 0.726) !important;
    color:  rgb(218, 61, 61);
}
.top-icon3{
    background-color: rgba(192, 222, 144, 0.726) !important;
    color: rgb(140, 197, 49);
}
.all{
    color:  rgb(25, 161, 171);
}
.cars{
    color:  rgb(218, 61, 61);
}
.vans{
    color: rgb(140, 197, 49);
}
.btn{
    background-color: #1B6492 !important;
}
.form-select{
    border: 1px solid gainsboro !important;
}
.number{
    color: #0aacf1;
    font-weight: bold;
}
h4{
    color: #1B6492 ;
}
.arrow{
    color: rgb(160, 159, 159);

    font-size: larger;
}
.name{
    font-weight: bold;
    font-size: large;
    color: #1B6492;
}