<div class="main pb-5 pt-2 ">
    <div class="applay-form  mx-auto bg-light p-4 rounded-4">
        <h2 class="mb-4">Applay . . .</h2>
        <form action="">
            <label for="" class="mb-3">Name <span class="text-danger">*</span></label>
            <div class="d-flex ">
                <input class="form-control me-2 " type="text" name="" placeholder="First Name .">
                <input class="form-control " type="text" name="" placeholder="Last Name .">
            </div>


            <div class="d-flex">
                <div class="w-50 me-2">
                    <label for="" class="my-3">Email <span class="text-danger">*</span></label>
                    <input class="form-control" type="email" name="" placeholder="Email .">
                </div>
                <div class="w-50">
                    <label for="" class="my-3">National ID <span class="text-danger">*</span></label>
                    <input class="form-control" type="text" name="" placeholder="ID .">
                </div>
            </div>

            <div class="d-flex">
                <div class="w-50 me-2 ">
                    <label for="" class="my-3 d-block">Gender<span class="text-danger mx-1">*</span></label>
                    <input type="radio" class="" id="male" name="fav_language" value="male">
                    <label for="male" class="me-5 ms-1 w-25 ">Male</label>
                    <input type="radio" id="female" name="fav_language" value="female">
                    <label for="female" class="me-3  ms-1">Female</label>
                </div>
                <div class="w-50">
                    <label for="" class="my-3">Select Job <span class="text-danger">*</span></label>
                    <!-- <input class="form-control" type="" name="" placeholder="ID ."> -->
                    <select class="form-select shadow-none border-0 " aria-label="Default select example">
                        <option selected>Select your Job</option>
                        <option value="assistant">Assistant</option>
                        <option value="admin">Admin</option>
                        <option value="driver">Driver</option>
                      </select>
                </div>
            </div>




            <div class="d-flex">
                <div class="w-50 me-2">
                    <label for="" class="my-3">Phone <span class="text-danger">*</span></label>
                    <input class="form-control  " type="tel" name="" placeholder="Phone Number .">
                </div>

                <div class="w-50 ">
                    <label for="" class="my-3">Upload Image <span class="text-danger">*</span></label>
                    <input type="file" class="form-control">

                </div>
            </div>



            <label for="" class="my-3">Upload Resume <span class="text-danger">*</span></label>
            <input type="file" class="form-control">

            <div>
                <label for="" class="my-3">Address <span class="text-danger">*</span></label>

                <div class="d-flex">
                    <input type="text" class="form-control me-2" placeholder="Country ">
                    <input type="text" class="form-control me-2" placeholder="City">
                    <input type="text" class="form-control" placeholder="Street ">
                </div>

            </div>


            <textarea name="" class="form-control mt-3" placeholder="Additional Information .." id="" cols="30"
                rows="5"></textarea>
            <div class="w-100  d-flex justify-content-end">
                <BUtton class="btn btn-danger px-4 bbttnn  fs-5 mt-3 border-0">Reset</BUtton>
                <BUtton  class="btn btn-danger px-4   fs-5 mt-3 border-0 ms-2">Submit</BUtton>
            </div>
        </form>
    </div>
</div>
